 .question-list input[type=radio] {
    margin-right: 5px;
    vertical-align: middle;
}
.questions-choice {
	display: table;
	width: 100%;
	margin-bottom: 20px;
}
.text-muted>a {
  	font-size: 14px;
    text-decoration: none;
    color: #232e6e;
}
#finish_exam>a {
   color: #202b6c; 
}
#finish_exam{
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
}
    